header {
    background-color: #ccc;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .left-box {
    display: flex;
    align-items: center;
  }
  
  .menus {
    display: flex;
    align-items: center;
    /* ul 태그가 기본적으로 가지고 있는 스타일을 없앰 */
    list-style: none;
    padding-left: 0px;
    margin: 0 0 0 16px;
  }
  
  .menu:not(:last-child) {
    margin-right: 16px;
  }
  
  .right-box {
    display: flex;
    align-items: center;
  }
  
  .signup {
    margin-left: 16px;
  }